{% extends 'Reviews/base.html' %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    

    {% for review in review %}
        <div class="row">
            <div class="col-md-1 offset-md-3">
                <img class="card" style="height: 180px" src="{{ review.image.url }}"/>
            </div>
            <div class="col-md-4">
                <h2>{{ review.game_name }}</h2>
                <p>Rating: {{ review.rating }}</p>
                <p>{{ review.short }}</p>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <a href="{% url 'review_details' review.id %}" class="btn btn-success">Details</a>
            </div>
        </div>
        <hr>
    {% endfor %}

    <!-- Paginator -->
    <div class="row text-center">
        <div class="col">
            {% if review.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ review.previous_page_number }}">Previous</a>
            {% endif %}

            Page: {{ review.number }} of {{ review.paginator.num_pages }}

            {% if review.has_next %}
                <a href="?page={{ review.next_page_number }}">Next</a>
                <a href="?page={{ review.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    </div>


{% endblock %}