{% extends 'Reviews/base.html' %}
{% load embed_video_tags %}


{% block body %}
    <div class="container text-center">
        <div class="row align-center"  style="margin-top: 10px">
            <div class="col">
                <h2>{{ review.game_name }}</h2>
            </div>
            <div class="col">
                <h2>Rating: {{ review.rating }}/10</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {% video review.url '853x505' %}
            </div>
        </div>
    
    </div>



{% endblock %}