{% extends 'Reviews/base.html' %}
{% load embed_video_tags %}


{% block body %}
    <div class="container text-center">
        <div class="row align-center"  style="margin-top: 10px">
            <div class="col">
                <h2>{{ review.game_name }}</h2>
            </div>
            <h2>|</h2>
            <div class="col">
                <h2>Genre: {{ review.genre }}</h2>
            </div>
            <h2>|</h2>
            <div class="col">
                <h2>Rating: {{ review.rating }}/10</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {% video review.url '853x505' %}
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col">
                <h4>Purchase the game here: <a href="{{ review.steam_url }}" target="_blank">{{ review.steam_url }}</a></h4>
            </div>
        </div>
    </div>



{% endblock %}